<div class="row align-items-center p-4 justify-content-center">
    <div class="col-md-4" style="min-width: fit-content;">
        <div class="photo" style="display: block; margin: auto;"></div>
    </div>
    <div class="col-md-8 text-center pt-5">
        <h3>About me</h3>
        <h5 class="text-start">A dedicated Fulstack Developer based in  📍</h5>
        <p class="text-start">As a Fulstack Developer, I possess an impressive arsenal of skills in HTML, CSS, JavaScript, React, Tailwind, and SCSS. I excel in designing and maintaining responsive websites that offer a smooth user experience. My expertise lies in crafting dynamic, engaging interfaces through writing clean and optimized code and utilizing cutting-edge development tools and techniques. I am also a team player who thrives in collaborating with cross-functional teams to produce outstanding web applications.</p>
        <button type="button" class="btn btn-outline-success">Download my CV</button>
    </div>
</div>