<nav class="navbar navbar-expand-lg bg-white fixed-top py-4" width="">
    <div class="container-fluid">
      <a class="navbar-brand px-5" href="#">Kruk Kostiantyn</a>
      <button (click)="isOpen=!isOpen" class="navbar-toggler nav-link shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="bi" [ngClass]="isOpen == true ? 'bi-x-lg' : 'bi-list'"></i>
      </button>
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 px-5 text-center">
          <li class="nav-item">
            <a class="nav-link" routerLink="" fragment="home" aria-current="page">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink=""  fragment="about" >About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="" fragment="projects" href="#">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="" fragment="contact" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>