a{
    font-size: 17px;
}

.nav-item > a{
    display: inline-block;
    position: relative;
}

.nav-item > a::after {
    content: '';
    position: absolute;
    border-radius: 25px;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--bs-navbar-color);;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
.nav-item > a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.bi{
    color: var(--bs-navbar-color);
}

.bi:hover{
    color: black
}

.navbar-toggler{
    border: 0em;
}