<div class="row d-flex flex-column-reverse flex-xl-row align-items-center justify-content-center pt-5">
        <div class="col-md-8 pt-5">
            <h1>
             .NET + Angular <br> Fullstack Developer
            </h1>
            <p style="white-space: pre-line;">
                Hello there! My name is Kostya, and I am a motivated and proactive web developer <br> with a passion for coding. Based in Poland. 📍
            </p>
            <ul class="list-group list-group-horizontal text-center d-flex justify-content-center justify-content-md-start">
                <li class="list-group-item left-logo">
                    <a class="link" target="_blank" href="https://www.linkedin.com/in/kostya-kruk-51934422b/"><i class="devicon-linkedin-plain"></i></a>
                </li>
                <li class="list-group-item">
                    <a class="link" target="_blank" href="https://github.com/IashuraI"><i class="devicon-github-original"></i></a>
                </li>
                <li class="list-group-item">
                    <a class="link" target="_blank" href="https://www.upwork.com/freelancers/kkostya"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M18.561 13.158c-1.102 0-2.135-.467-3.074-1.227l.228-1.076l.008-.042c.207-1.143.849-3.06 2.839-3.06a2.705 2.705 0 0 1 2.703 2.703a2.707 2.707 0 0 1-2.704 2.702zm0-8.14c-2.539 0-4.51 1.649-5.31 4.366c-1.22-1.834-2.148-4.036-2.687-5.892H7.828v7.112a2.551 2.551 0 0 1-2.547 2.548a2.55 2.55 0 0 1-2.545-2.548V3.492H0v7.112c0 2.914 2.37 5.303 5.281 5.303c2.913 0 5.283-2.389 5.283-5.303v-1.19c.529 1.107 1.182 2.229 1.974 3.221l-1.673 7.873h2.797l1.213-5.71c1.063.679 2.285 1.109 3.686 1.109c3 0 5.439-2.452 5.439-5.45c0-3-2.439-5.439-5.439-5.439z"/></svg></a>
                </li>
                <li class="list-group-item">
                    <a target="_blank" href="https://gitlab.com/IashuraI" class="link d-flex align-items-center"><i class="devicon-gitlab-plain"></i></a>
                </li>
            </ul>
        </div>
        <div class="col-md-4 pt-5 d-flex align-items-center justify-content-center" style="min-width: fit-content;" >
            <img src="../../../portfolio/assets/images/portrait.png" style="display: block; margin: auto;" style="width: 17rem; height: 20rem;" class="portrait">
        </div>
</div>
<div class="ow d-flex pt-5 flex-column-reverse flex-xl-row align-items-center justify-content-center justify-content-md-start">
    <ul class="col-md-8 flex-wrap justify-content-between justify-content-md-start list-group list-group-horizontal">
        <li class="list-group-item d-flex align-items-center">
            <a class="d-flex align-items-center">Technical stack :</a>
        </li>
        <li class="list-group-item d-flex align-items-center">
            <a class="link d-flex align-items-center"><i class="devicon-csharp-line-wordmark"></i></a>
        </li>
        <li class="list-group-item">
            <a class="link d-flex align-items-center"><i class="devicon-dotnetcore-plain"></i></a>
        </li>
        <li class="list-group-item">
            <a class="link d-flex align-items-center"><i class="devicon-angularjs-plain"></i></a>
        </li>
        <li class="list-group-item">
            <a class="link d-flex align-items-center"><i class="devicon-html5-plain"></i></a>
        </li>
        <li class="list-group-item">
            <a class="link d-flex align-items-center"><i class="devicon-css3-plain"></i></a>
        </li>
        <li class="list-group-item">
            <a class="link d-flex align-items-center"><i class="devicon-bootstrap-plain"></i></a>
        </li>
        <li class="list-group-item">
            <a class="link d-flex align-items-center"><i class="devicon-bash-plain"></i></a>
        </li>
        <li class="list-group-item">
            <a class="link d-flex align-items-center"><i class="devicon-docker-plain-wordmark"></i></a>
        </li>
        <li class="list-group-item">
            <a class="link d-flex align-items-center"><i class="devicon-azure-plain"></i></a>
        </li>
        <li class="list-group-item">
            <a class="link d-flex align-items-center"><i class="devicon-git-plain"></i></a>
        </li>
        <li class="list-group-item">
            <a class="link d-flex align-items-center"><i class="devicon-linkedin-plain"></i></a>
        </li>
        <li class="list-group-item">
            <a class="link d-flex align-items-center"><i class="devicon-mongodb-plain"></i></a>
        </li>
        <li class="list-group-item">
            <a class="link d-flex align-items-center"><i class="devicon-mysql-plain"></i></a>
        </li>
        <li class="list-group-item">
            <a class="link d-flex align-items-center">
                <i class="devicon-nginx-original"></i>
            </a>
        </li>
        <li class="list-group-item">
            <a class="link d-flex align-items-center">
                <i class="devicon-selenium-original"></i>
            </a>
        </li>
        <li class="list-group-item">
            <a class=" d-flex align-items-center">
                <i class="devicon-microsoftsqlserver-plain"></i>
            </a>
        </li>
        <li class="list-group-item">
            <a class="link d-flex align-items-center">
                <i class="devicon-sqlite-plain"></i>
            </a>
        </li>
        <li class="list-group-item">
            <a class="link d-flex align-items-center">
                <i class="devicon-redis-plain"></i>
            </a>
        </li>
        <li class="list-group-item">
            <a class="link d-flex align-items-center">
                <i class="devicon-postgresql-plain"></i>
            </a>
        </li>
        <li class="list-group-item">
            <a class="link d-flex align-items-center">
                <i class="devicon-npm-original-wordmark"></i>
            </a>
        </li>
        <li class="list-group-item">
            <a class="link d-flex align-items-center">
                <i class="devicon-nodejs-plain"></i>
            </a>
        </li>
        <li class="list-group-item">
            <a class="link d-flex align-items-center">
                <i class="devicon-sqlite-plain-wordmark"></i>
            </a>
        </li>
        <li class="list-group-item">
            <a class="link d-flex align-items-center">
                <i class="devicon-trello-plain"></i>
            </a>
        </li>
        <li class="list-group-item">
            <a class="link d-flex align-items-center">
                <i class="devicon-typescript-plain"></i>
            </a>
        </li>
        <li class="list-group-item">
            <a class="link d-flex align-items-center">
                <i class="devicon-ubuntu-plain"></i>
            </a>
        </li>
        <li class="list-group-item">
            <a class="link d-flex align-items-center">
                <i class="devicon-visualstudio-plain"></i>
            </a>
        </li>
        <li class="list-group-item">
            <a class="link d-flex align-items-center">
                <i class="devicon-k3s-plain-wordmark"></i>
            </a>
        </li>
    </ul>
</div>